<div id="flash" class="fixed top-4 right-4 z-50 space-y-2 max-w-sm w-full pointer-events-none">
  <% if notice %>
    <%= render "shared/notification", notice: notice %>
  <% end %>
  <% if alert %>
    <%= render "shared/notification", alert: alert %>
  <% end %>
</div>
